[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.21"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pywebpush = "*"
py-vapid = "*"
django-webpush = "*"
setuptools = "==36.7.1"
http-ece = "*"
"enum34" = "*"
cryptography = "*"
ipaddress = "*"
paramiko = "==2.5.0"

[dev-packages]

[requires]
python_version = "3.6"
